In [1]:
import pandas as pd
sales = pd.read_csv("DataSource/Sales.csv")
stores = pd.read_csv("DataSource/Stores.csv")
Products = pd.read_csv("DataSource/Products.csv")
customers = pd.read_csv("DataSource/Customers.csv",encoding='ISO-8859-1')
exchangerates = pd.read_csv("DataSource/Exchange_Rates.csv")

In [2]:
sales

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD
...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2/20/2021,NaN,1216913,43,632,3,USD
62880,2243031,1,2/20/2021,2/24/2021,511229,0,98,4,EUR
62881,2243032,1,2/20/2021,2/23/2021,331277,0,1613,2,CAD
62882,2243032,2,2/20/2021,2/23/2021,331277,0,1717,2,CAD
62883,2243032,3,2/20/2021,2/23/2021,331277,0,464,7,CAD

In [7]:
rows_dup = customers[customers.duplicated()]
print(rows_dup)

Empty DataFrame
Columns: [CustomerKey, Gender, Name, City, State Code, State, Zip Code, Country, Continent, Birthday]
Index: []